{% extends "default.twig" %}

{% block title %}contact | {{ parent() }}{% endblock %}

{% block head_css %}
<!-- UIkit CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.1.5/css/uikit.min.css" />
{% endblock %}

{% block head_js %}
<!-- UIkit JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.1.5/js/uikit.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.1.5/js/uikit-icons.min.js"></script>
{% endblock %}

{% block content %}
    <div class="uk-section">
        <div class="uk-container">
            <h1>slim-basic</h1>

            <form method="post" class="uk-form-horizontal">
                <fieldset class="uk-fieldset">
                    <legend class="uk-legend">Contact</legend>

                    <div class="uk-margin">
                        <label class="uk-form-label">お名前（必須）</label>
                        <div class="uk-form-controls">
                            {{ val('name') }}
                        </div>
                    </div>

                    <div class="uk-margin">
                        <label class="uk-form-label">メールアドレス（必須）</label>
                        <div class="uk-form-controls">
                            {{ val('email') }}
                        </div>
                    </div>

                    <div class="uk-margin">
                        <label class="uk-form-label">題名（必須）</label>
                        <div class="uk-form-controls">
                            {{ val('category') }}
                        </div>
                    </div>

                    <div class="uk-margin">
                        <label class="uk-form-label">メッセージ本文</label>
                        <div class="uk-form-controls">
                            {{ val('text') }}
                        </div>
                    </div>

                    <div class="uk-margin">
                        <div class="uk-form-controls">
                            <button type="submit" class="uk-button uk-button-default" name="__input">戻る</button>
                            <button type="submit" class="uk-button uk-button-primary" name="__register">送信</button>
                        </div>
                    </div>
                </fieldset>

                <input type="hidden" name="name" value="{{ val('name') }}">
                <input type="hidden" name="email" value="{{ val('email') }}">
                <input type="hidden" name="category" value="{{ val('category') }}">
                <input type="hidden" name="text" value="{{ val('text') }}">
                <input type="hidden" name="{{ csrf.keys.name }}" value="{{ csrf.name }}">
                <input type="hidden" name="{{ csrf.keys.value }}" value="{{ csrf.value }}">
            </form>
        </div>
    </div>
{% endblock %}